/**
 * Colors
 */
// Actual Colors
$blue: #139bab;
$red: #ff6160;

// Grays
$gray-1: #e5e5e5;
$gray-2: #afafaf;
$gray-3: #666666;
$gray-4: #4c4c4c;
$gray-5: #222222;

// Standard colors
$white: #ffffff;

/**
 * Spacing
 */
$space:                20px;
$space-small:          ($space / 2);
$space-medium:         ($space * 1.5);
$space-large:          ($space * 3);
$space-extra-large:    ($space * 5);


/**
 * Media Queries
 */
$screen-tiny: 600px;
$screen-small: 768px;
$screen-medium: 960px;
$screen-large: 1200px;
$screen-extra-large: 1600px;

// Min screen sizes
$screen-tiny-min: ($screen-tiny + 1);
$screen-medium-min: ($screen-small + 1);
$screen-large-min: ($screen-medium + 1);
$screen-extra-large-min: ($screen-large + 1);

// Max screen sizes
$screen-tiny-max: ($screen-tiny - 1);
$screen-extra-small-max: ($screen-small - 1);
$screen-small-max: ($screen-medium - 1);
$screen-medium-max: ($screen-large - 1);
$screen-large-max: ($screen-extra-large -1);


/**
 * Type
 */
$font-size-base: 2.2rem;   // ~22px
$font-size-small: 1.6rem;  // ~16px
$font-size-medium: 2.4rem; // ~24px
$font-size-large: 2.6rem;  // ~26px
$font-size-extra-large: 3.0rem;  // ~30px

$line-height-base: 1.6;
$line-height-large: 2;
$line-height-small: 1.4;

$font-family-base: 'adobe-caslon-pro', serif;

$text-color-base: $gray-3;

/**
 * Timing
 */
$easing: cubic-bezier(.93,0,.03,1);
$transition-default: all 0.2s $easing;


/**
 * Layouts
 */
// Alert Bar
$alert-bar-height: 60px;
$alert-bar-height-medium: 80px;
