.alert-bar {
  @extend .type-semibold;
  @include center-contents();
  background: $gray-5;
  height: $alert-bar-height;
  padding: $space-small;

  .event-link {
    color: $red;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  @include min-screen($screen-medium-min) {
    height: $alert-bar-height-large;
  }
}
