.events-brewing {
  color: white;

  .header {
    color: white;
  }

  .events {
    background-image: url('../images/bg-brewery.jpg');
    background-position: center;
    background-size: cover;
    position: relative;

    &::after {
      @include min-screen($screen-medium-min) {
        background: url('../images/bg-triangles.png') repeat-y -70px top;
        background-size: 95px 25px;
        content: '';
        height: 100%;
        right: 0;
        position: absolute;
        top: 0;
        width: 25px;
      }
    }
  }

  .brewing {
    background: $gray-5;

    .beers {
      display: flex;
      flex-flow: wrap;

      .beer {
        flex-basis: 50%;
        padding: $space;

        img {
          @extend .responsive-image;
        }
      }
    }
  }

  @include min-screen($screen-medium-min) {
    display: flex;
    position: relative;

    .events,
    .brewing {
      width: 50%;
      flex: 1;
    }
    .events {
      background-position: left center;
    }
  }
}
