.footer {
  background: $gray-5;
  font-size: $font-size-small;
  padding: $space-medium $space-small;

  .copy, .attribution {
    margin-bottom: $space-small;
  }
  
  a {
    color: $gray-2;
    text-decoration: none;
    transition: $transition-default;

    &:hover {
      color: $red;
    }
  }

  @include min-screen($screen-medium-min) {
    @include clearfix();
    padding: $space-extra-large $space-large;
    position: relative;

    .copy, .attribution {
      margin-bottom: 0;
    }
    .copy {
      float: left;
      text-align: left;
    }
    .attribution {
      float: right;
    }
    .bird {
      height: 48px;
      left: 50%;
      margin-left: -28px;
      margin-top: -26px;
      position: absolute;
      top: 50%;
      width: 57px;
    }
  }
}
