.bg-birds {
  background-image: url('../images/bg-birds.jpg');
  background-position: right bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.new-site {
  @include center-contents();
  min-height: 50vh;
  padding: $space-small;

  .text {
    color: $gray-4;
    font-size: $font-size-large;
  }

  @include min-screen($screen-medium-min) {
    .text {
      font-size: $font-size-extra-large;
    }
  }
}
