figure {
  margin: 0;

  img {
    @extend .responsive-image;
    margin-bottom: 1.2rem;
  }

  figcaption {
    color: $gray-2;
    font-size: 1.5rem;
    font-style: italic;
    text-align: center;
  }
}