form {
  input[type="text"],
  input[type="email"] {
    appearance: none;
    background-color: $gray-0;
    border-radius: 2px;
    border: 0;
    border: 2px solid transparent;
    font-size: 1.8rem;
    height: 6rem;
    line-height: 6rem;
    outline: none;
    padding: 7px 2rem 0;
    transition: $transition-default;
    
    &:hover {
      background-color: $white;
    }

    &:focus {
      border-color: $gray-2;
    }

    // Fix IE input text positioning
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      padding: 2px 2rem 0;
    }
  }
}

/**
 * MailChimp Form
 */
#mc_embed_signup {
  .mc-field-group {
    margin-bottom: 1.6rem;

    input,
    button {
      width: 100%;
      text-align: center;
    }
  }
}